footer {
    background-color: var(--foreground);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9999;
    & a {
        text-decoration: underline;
        color: var(--color);
        cursor: pointer;
}

}