.classCard {
    background-color: var(--foreground);
    border-radius: 20px;
    position: relative;
    padding: 16px;
    transition: all 0.3s ease;
    &:active {transform: scale(0.98);}
        & .classCardItemInfo {
            gap: 10px;
            display: flex;
            flex-direction: row;
            & .classCardIcon {
                width: 70px;
                height: 70px;
                padding: 10px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--border);
                & svg {
                    width: 55px;
                    height: auto;
                    color: var(--color);
                }
            }
                & .classCardItemName {
                    display: flex;
                    flex-direction: column;
                    & h1 {
                        color: var(--color);
                        margin: 0;
                        font-weight: 500;
                        font-size: 24px;
                    }
                    & span {
                        color: var(--foreground-text);
                        padding-bottom: 3px;
                        font-size: 13px;
                        font-weight: 600;
                    }
                }
        }
}

.classCardLinkIco {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--foreground-text);
}
.classCardLink {
    &:hover {& .classCardLinkIco {transform: scale(1.1);}}
    text-decoration: none;
    color: var(--color);
}
    

.classCardTime {
    position: absolute;
    bottom: 0px;
    right: 15px;
    font-size: 18px;
    font-weight: 500;
}
