@keyframes ScaleIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

.UserCard {
    background-color: var(--background);

    display: flex;
    border-radius: 20px;
    flex-direction: column;
    & .profileLAN {
        display: flex;
        flex-direction: column;
        height: fit-content;
        background-color: var(--foreground);
        padding: 10px;
        border-radius: 16px;
        & h1, p{
            margin: 0;
        }
        & .profileLANTop {
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            animation: ScaleIn 0.3s ease;
            padding-bottom: 15px;
        }
        & .profileAvatar {
            width: 75px;
            height: 75px;
            border-radius: 99px;
            border: 1px solid rgba(0, 0, 0, 0.13);
        }
        & .profileLN {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4px;
            & h1 {
                font-size: 19px;
                overflow: auto;
            }
            & p {
                font-size: 14px;
                color: var(--foreground-text);
            }
        }

        & .profileInfoDiv {
            padding: 10px;
            padding-left: 0;

            & h1, h2 {
                padding: 8px 10px 7px 10px;
                background-color: var(--color);
                border-radius: 99px;
                color: var(--background);
                width: fit-content;
                height: fit-content;
                transition: transform 0.2s ease;
                text-align: center;
                &:hover {
                   transform: scale(1.05);
                }
            }
            & .profileInfoDivWellGroup {
                display: flex;
                flex-direction: row;
                height: fit-content;
                gap: 7px;
            }
            & .profileInfoSpecialityMore {
                display: flex;
                flex-direction: row;
                height: fit-content;
                align-items: center;
                gap: 10px;
                & a, & h2 {
                        margin: 0;
                        margin-top: 10px;
                }
                & .profileMore {
                    text-decoration: underline 1px;
                    color: var(--text-color);
                    height: fit-content;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 5px;
                    padding: 7px 10px 7px 10px;
                    background-color: var(--foreground);
                    border-radius: 99px;
                    & h2 {
                        margin: 0;
                        padding: 0;
                    }
                }
                & svg {
                    color: var(--color);
                    height: fit-content;
                }
            }
            & h1 {
                font-size: 17px;
                font-weight: 500;
                animation: ScaleIn 0.3s ease;
                @media screen and (max-width:330px) {font-size: 17px;}
            }
            & h2 {
                animation: ScaleIn 0.3s ease;
                font-size: 17px;
                font-weight: 500;
                @media screen and (max-width:330px) {font-size: 17px;}
            }
        }
    }
    
}