@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-VariableFont.ttf') format('truetype');
}

html, body {
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

*::selection {
  background: transparent;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--background);
  margin-top: 63px;
  padding: 10px;
}

:root {
  font-family: 'Rubik', sans-serif;
  color-scheme: light dark;
  background-color: var(--background);
  color: var(--color);
  user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FEFEFE;
    --foreground: #F2F2F3;
    --color: #000000;
    --foreground-text: #8d8d8d;
    --foreground-text-dark: #111111;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #E3E3E3;
    --background: #191919;
    --foreground: #121212;
    --foreground-text: #c2c2c2;
  }
}
